* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  right: 0;
  top: -1%;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 33px 9%;
  background: transparent;
}

.logo {
  position: fixed;
  margin-top: 50px;
}

.logo img {
  height: 100px;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url(images/background2.jpg);
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.hero-text {
  padding-top: 18%;
  text-align: center;
}

section {
  padding: 0 15%;
}

.hero-text h5 {
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 40px;
}

.hero-text h1 {
  font-family: "Viga", sans-serif;
  font-size: 90px;
  line-height: 1;
  color: white;
  margin: 0 0 45px;
  font-weight: 700;
}

.hero-text h4 {
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.hero-text p {
  color: white;
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 40px;
}

.hero-text a {
  display: inline-block;
  color: white;
  background: #4d6195;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
}

.hero-text a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: white;
  transition: all 0.5s ease;
}

.icons i:hover {
  color: #4d6195;
  transform: translateY(-5p);
}

@media (max-width: 768px) {
  .hero-text {
    position: relative;
    top: 40px;
  }

  .hero-text h1 {
    font-family: "Viga", sans-serif;
    font-size: 60px;
  }

  .logo img {
    height: 80px;
  }

  .hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
  }

  .hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
  }

  .hero-text a {
    display: inline-block;
    color: white;
    background: #4d6195;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
  }
}
